*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: linear-gradient(135deg,#0b0f2f,#141852);
    color: #fff;
    min-height: 100vh;
    padding: 30px;
}
.container{
    max-width: 5000px;
    height: 2500px;
    margin: auto;
}
header h1{
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top:5%;
    left: 6%;

}
.fa-sun {
    font-size: 32px;
    color: orange;
}

.fa-gear {
    font-size: 20px;
    color: #fffbfb;
    font-size: 25px;
}

.fa-angle-down {
    font-size: 18px;
    color: #fffbfb;
}
.setting{
    
    display: inline-flex;          
    align-items: center; 
    justify-content: center;      
    gap: 10px;                 
    padding: 8px 14px;            
    background: rgba(255,255,255,0.08);
    border-radius: 12px;
    height: 40px;   
    position: absolute; 
    left: 90%;            
  
    }
    h2 {
    position: absolute;
    top: 14%;
    left: 50%;     
    transform: translate(-60%, -60%);
    color: #fff;
}
.search-box{
    position: absolute;
    top:23%;
    left: 51%;
    transform: translate(-62% ,-62%);
    width: 500px;
    max-width: 90%;
    padding: 15px 17px;
    border-radius: 18px;
    outline: none;
    

}
.search-input{
    display: flex;
    align-items: center;
    gap:10px;
    width: 500px;
    padding: 14px 18px;
    background: rgba(255,255,255,0.08);
    border-radius: 14px;
  

}
.search-input input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
   
    font-size: 15px;
}
.search-input ::placeholder{
    color: #fff;
}
.btn{
    color: #fff;
    background: linear-gradient(135deg, #4f5bd5, #5f2c82);
       width: 105px;
    height: 47px;
    border-radius: 13px;
    position: absolute;
    top: 23%;
    left: 106%;
}
.weather-card{
     width: 45%;
    height: 25%;
    padding: 30px;
    background: linear-gradient(135deg, #4f5bd5, #5f2c82);
    border-radius: 30px;
    position: absolute;
    top: 28%;
    left: 10%;
}
.sun-icon{
   font-size:36px;
    position: absolute;
    top: 45%;
    left: 79%;
}
.temp{
       font-family: sans-serif;
    font-size: 47px;
    position: absolute;
    top: 38%;
    left: 86%;
    
}
.text{
    position: absolute;
    top:38%;
    left:2%;
}
.text2{
     position: absolute;
    top:52%;
    left:2%;
}
 .details {
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
    margin-top: 30px;
    position: absolute;
    top: 52%;
    left: 10%;}

     .detail-box {
      background: rgba(255,255,255,0.1);
      padding: 10px;
     border-radius: 12px;
     font-size: 14px;
     width: 160%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    text-align: start;
    }
   .text-3{
    position: absolute;
    top:68%;
    left:10%;
   }
  .week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 18px;
    margin-top: 25px;
    position: absolute;
    top:70%;
    left:9%;
}

.day{
    background: rgba(255,255,255,0.08);
    border-radius: 18px;
    padding: 14px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    font-size: 14px;
    min-width: 75px;
}

.day i{
    font-size: 20px;
}

.temperature{
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    opacity: 0.9;
    display: flex;
    flex-direction: row;       
    align-items: center;
    gap: 6px;                 
}

.temperature .high{
    margin-bottom: 0;         
    font-size: 14px;
}

.temperature .low{
    opacity: 0.8;
    font-size: 13px;
}
.Hourly-forecast{
      height: 486px;
    width: 364px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 18px;
    padding: 14px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 28%;
    left: 56%;
    overflow:auto;
}
.forecast-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.day-btn{
    background: rgba(255,255,255,0.15);
    border: none;
    border-radius: 10px;
    padding: 6px 14px;
    color: #fff;
    font-size: 13px;


}
.hour{
      height: 77%;
    width: 100%;
     background: rgba(255,255,255,0.08);
    border-radius: 18px;
     padding: 14px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 210px;
}
.text-4{
      
  text-align: start;
  font-size: 16px;;
}