*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: linear-gradient(135deg,#0b0f2f,#141852);
    color: #fff;
    min-height: 100vh;
    padding: 30px;
}
.container{
    max-width: 5000px;
    height: 2500px;
    margin: auto;
}
header h1{
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top:5%;
    left: 5%;

}
.fa-sun {
    font-size: 32px;
    color: orange;
}

.fa-gear {
    font-size: 20px;
    color: #fffbfb;
    font-size: 25px;
}

.fa-angle-down {
    font-size: 18px;
    color: #fffbfb;
}
.setting{
    
    display: inline-flex;          
    align-items: center; 
    justify-content: center;      
    gap: 10px;                 
    padding: 8px 14px;            
    background: rgba(255,255,255,0.08);
    border-radius: 12px;
    height: 40px;   
    position: absolute; 
    left: 90%;            
  
    }
    h2 {
    position: absolute;
    top: 20%;      
    left: 50%;     
    transform: translate(-60%, -60%);
    color: #fff;
}
.search-box{
    position: absolute;
    top:30%;
    left: 51%;
    transform: translate(-62% ,-62%);
    width: 500px;
    max-width: 90%;
    padding: 15px 17px;
    border-radius: 18px;
    outline: none;
    

}
.search-input{
    display: flex;
    align-items: center;
    gap:10px;
    width: 500px;
    padding: 14px 18px;
    background: rgba(255,255,255,0.08);
    border-radius: 14px;
  

}
.search-input input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
   
    font-size: 15px;
}
.search-input ::placeholder{
    color: #fff;
}
.btn{
    color: #fff;
    background: linear-gradient(135deg, #4f5bd5, #5f2c82);
       width: 105px;
    height: 47px;
    border-radius: 13px;
    position: absolute;
    top: 23%;
    left: 106%;
}


